[Unit]
Description=Alertmanager
After=network-online.target

[Service]
EnvironmentFile=/etc/default/alertmanager
User=alertmanager
Group=alertmanager
Restart=always
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/bin/sh -c 'exec /usr/bin/alertmanager  \
  --config.file=/etc/alertmanager/alertmanager.yml \
  --storage.path=/var/lib/alertmanager/ \
  ${ARGS}'

[Install]
WantedBy=multi-user.target
