[Unit]
Description=NGINX Prometheus Exporter
After=network-online.target

[Service]
EnvironmentFile=/etc/default/nginx-prometheus-exporter
User=nginxexporter
Group=nginxexporter
Restart=always
ExecStart=/usr/bin/nginx-prometheus-exporter

[Install]
WantedBy=multi-user.target
