[Unit]
Description=SSL Certificate Exporter
After=network-online.target

[Service]
EnvironmentFile=/etc/default/ssl_exporter
User=sslexporter
Group=sslexporter
Restart=always
ExecStart=/bin/sh -c 'exec /usr/bin/ssl_exporter \
  --config.file=/etc/ssl_exporter/ssl_exporter.yml \
  ${ARGS}'

[Install]
WantedBy=multi-user.target
